<h1 style="text-align: center;"><span style="color: #800000;"><strong>Midway Ideas</strong></span></h1>
<table style="height: 539px;" width="815">
<tbody>
<tr>
<td>
<table style="height: 38px;" width="802">
<tbody>
<tr>
<td><a href="./products.html">Our Products</a></td>
<td>
<p><a href="./pricing.html">Pricing</a></p>
</td>
<td><a href="./terms.html">Terms Of Use</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<p></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
