<h1 style="text-align: center;"><span style="color: #800000;"><strong>Midway Ideas</strong></span></h1>
<h2><strong><span style="color: #800000;">Our Products</span></strong></h2>
<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3><strong><span style="color: #800000;">FreddySpeaks</span></strong></h3>
<p>&nbsp;</p>
<h4><em><strong><span style="color: #800000;">This is an application for retailers to engage with their customers in a better way. This application helps retailers to get feedback on the products and services offerred by the retailers.</span></strong></em></h4>
<p><em><strong><span style="color: #800000;"><img src="./dist/images/App_Home.png" alt="FreddySpeaks App Snap" /></span></strong></em></p>
<p>&nbsp;</p>
